<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Playwright Suite" verbose="1" parallel="classes" thread-count="3">

    <test name="Login Tests">
        <classes>
            <class name="com.qa.portfolio.tests.LoginTests"/>
        </classes>
    </test>

    <test name="Inventory Tests">
        <classes>
            <class name="com.qa.portfolio.tests.InventoryTests"/>
        </classes>
    </test>

    <test name="Checkout Tests">
        <classes>
            <class name="com.qa.portfolio.tests.CheckoutTests"/>
        </classes>
    </test>

</suite>
